:root {
    /* ### Primary */
    --SoftCyan: hsl(174, 77%, 80%);
    --StrongCyan: hsl(174, 86%, 45%);
    --LightGrayishRed: hsl(14, 92%, 95%);
    --LightRed: hsl(15, 100%, 70%);
    --PaleBlue: hsl(226, 100%, 87%);
    /* ### Neutral */
    --White: hsl (0, 0%, 100%);
    --VeryPale: hsl(230, 100%, 99%);
    --LightGrayishEmpty: hsl(224, 65%, 95%);
    --LightGrayishBlue: hsl(223, 50%, 87%);
    --GrayishBlue: hsl(225, 20%, 60%);
    --DarkDesaturatedBlue: hsl(227, 35%, 25%);
}

.body {
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--VeryPale);
    background-image: url('../images/bg-pattern.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 40%;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.container {
    padding: 0 25px;
}

.u-h2 {
    margin: 50px 0 20px;
    font-weight: 600;
    color: var(--DarkDesaturatedBlue);
}

.u-p {
    color: var(--GrayishBlue);
}

.header {
    padding: 20px 0;
    /* border: 1px solid red; */
    background-image: url('../images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    color: var(--GrayishBlue);
    margin-bottom: 30px;
}

.card .card-p {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--SoftCyan);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.card .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    background-color: var(--StrongCyan);
    cursor: pointer;
    box-shadow: 0px 7px 10px 7px var(--SoftCyan);
}

.card .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    background: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    background-color: var(--StrongCyan);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--SoftCyan);
}

.card .card-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-price .card-value {
    color: var(--DarkDesaturatedBlue);
    font-size: 2em;
    font-weight: 800;
}

.card .card-timeselector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: .7em;
}

.card .card-timeselector .checkbox {
    display: none;
}

.card .card-timeselector .checkbox:checked~.price-toggle::before {
    transform: translateX(0);
}

.card .card-timeselector .checkbox:checked~.price-toggle {
    background: var(--LightGrayishBlue);
}

.card .card-timeselector .price-toggle {
    background: var(--StrongCyan);
    display: block;
    cursor: pointer;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    padding: 5px;
    user-select: none;
    box-sizing: border-box;
}

.card .card-timeselector .price-toggle:hover {
    background: var(--SoftCyan);
}

.card .card-timeselector .price-toggle::before {
    content: '';
    display: block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: var(--VeryPale);
    cursor: pointer;
    transform: translateX(15px);
    transition: .3s;
    will-change: transform;
    margin-top: -3px;
    user-select: none;
}

.card .card-timeselector .percentage {
    background: var(--LightGrayishRed);
    color: var(--LightRed);
    padding: 3px 7px;
    border-radius: 20px;
    margin-left: 5px;
}

.card .card-timeselector .discount {
    visibility: hidden;
    transition: .3s;
}

.card .card-line {
    width: 100%;
    height: 1px;
    background-color: var(--LightGrayishEmpty);
    border: none;
}

.card .card-characteristics ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card .card-characteristics li {
    font-size: .9em;
    font-weight: 300;
}

.card .card-characteristics li .check {
    margin-right: 10px;
}

.card .card-button {
    margin-top: 25px;
    color: var(--PaleBlue);
    font-weight: 700;
    background: var(--DarkDesaturatedBlue);
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    border-style: none;
    cursor: pointer;
}

.card .card-button:hover {
    color: var(--LightGrayishEmpty);
}

.footer .attribution {
    font-size: .9em;
    text-align: center;
    color: var(--VeryDarkGrayishCyan);
}

.footer .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media screen and ( min-width:720px) {
    .body {
        font-size: 17px;
    }
    .card {
        margin: auto;
        width: 50%;
    }
    .card .card-timeselector .discount {
        visibility: visible;
    }
}